<footer id="footer" class="footer dark-background">
    <div class="container">
        <h3 class="sitename">Coliseu Pokémon</h3>
        <p>Bem-vindo ao Coliseu Pokémon! Aqui, compartilhamos batalhas épicas, dicas estratégicas e tudo sobre o mundo
            Pokémon. Junte-se a nós e faça parte desta aventura!</p>

        <div class="social-links d-flex justify-content-center">
            <a href="https://twitter.com/coliseupokemon" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/coliseupokemon" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/coliseupokemon" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/@coliseupokemon" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>

        <div class="container">
            <div class="copyright">
                <span>&copy; </span><strong class="px-1 sitename">Coliseu Pokémon</strong><span> Todos os direitos
                    reservados</span>
            </div>
            <div class="credits">
                Desenvolvido por <a href="https://danilodemorais.com.br/">Danilo de Morais</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Seu JS personalizado -->
    <script src="/js/main.js"></script>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>