<header class="header-dashboard d-flex align-items-center justify-content-between px-4 py-2"
    style="background-color: #2a2c39;">
    <h2 style="color: #ffffff;">Painel de Administração</h2>
    <nav>
        <a href="/" class="btn btn-outline-light me-2">Visitar o Site</a>
        <!-- Adicionando link para página de perfil -->
        <a href="/profile" class="btn btn-primary me-2">Meu Perfil</a>
        <a href="/logout" class="btn btn-danger">Sair</a>
    </nav>
</header>